import "dotenv/config"

interface conf {
    mongoUri: string,
    googleAuthClientID: string,
    googleAuthClientSecret: string,
    googleAuthCallbackURL: string,
    cookieSecret: string,
    cookieKey: string,
    sessionExpire: number,
    assetsDir: string
}

const config: conf = {
    mongoUri:
        process.env.NODE_ENV == "production"
            ? ""
            : "",
    googleAuthClientID: false ? "" : "",
    googleAuthClientSecret: false ? "" : "",
    googleAuthCallbackURL: false ? "" : "",
    cookieSecret: "",
    cookieKey: "",
    sessionExpire: 1000 * 60 * 60 * 24 * 30, // 1 Month
    assetsDir: ""
}
export default config
